body{
    background-color: black;
}
.container{
    margin-top: 100px;
    background-image: url("C:\Users\gjbar\OneDrive\Escritorio\Universidad Egg\Full Stack\Guia 16 - HTML-CSS\HTML-CSS-master\Ejercicio 10\imagenes\7cdcf7e7b537053d69665092c06a2287.jpg");

}