body{
    background-color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a:hover {
    background-color: red;
    color: white;
    
}
a:visited{
    color: gray;
}
h2{
    color: green;
}
